version: "3.4"

services:
  catalogdb:
    container_name: catalogdb
    restart: always
    ports:
      - "27017:27017"

  cartdb:
    container_name: cartdb
    restart: always
    ports:
      - "6379:6379"

  rabbitmq:
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

  orderdb:
    container_name: orderdb
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "Titan#12"
      ACCEPT_EULA: "Y"

  catalog.api:
    container_name: catalogapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "CatalogDbSettings:ConnectionString=mongodb://catalogdb:27017"
    depends_on:
      - catalogdb
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    ports:
      - "8000:80"

  cart.api:
    container_name: cartapi
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:Redis=cartdb:6379"
      - "EventBus:HostName=rabbitmq"
    depends_on:
      - cartdb
      - rabbitmq
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    ports:
      - "8001:80"

  ordering.api:
    container_name: orderingapi
    restart: on-failure
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:OrderConnection=Server=orderdb,1433;Database=OrderDb;User Id=sa;Password=Titan#12"
      - "EventBus:HostName=rabbitmq"
    depends_on:
      - orderdb
      - rabbitmq
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    ports:
      - "8002:80"

  ocelotgateway:
    container_name: ocelotgateway
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - cart.api
      - catalog.api
      - ordering.api
      - auth.api
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    ports:
      - "7000:80"

  traditionalwebclient:
    container_name: traditionalwebclient
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ApiSettings:BaseAddress=ocelotgateway"
    depends_on:
      - catalog.api
      - cart.api
      - ordering.api
      - ocelotgateway
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    ports:
      - "8003:80"

  auth.api:
    container_name: authapi
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "8010:8003"

  angularwebclient:
    container_name: angularwebclient
    environment:
      - NODE_ENV=production
    depends_on:
      - ocelotgateway
      - auth.api
    ports:
      - "3000:3000"
